@font-face{
    font-family: charter;
    src: url('../fonts/charter-regular.otf') ;
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: charter;
    src: url('../fonts/charter-italic.otf') ;
    font-style: italic;
    font-weight: 400;
}
@font-face{
    font-family: charter;
    src: url('../fonts/charter-bold.otf') ;
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf') ;
    font-style: italic;
    font-weight: bold;
}


:root {
font-size: 18px;
--gris30: #212121;
--gris20: #212429;
--gris10: #616161;
}

body{
color: var(--gris30);
font-family: 'Roboto', sans-serif;
/* font-family: charter; */
}
a{
    color: var(--gris30);
}
header{
font-size: 14px;
color: var(--gris10);
}
header a{
    color: var(--gris10);
    text-decoration:none;
}
/* para resaltal vinculos hover */
header a:hover{
    /* color: #212121; */
    color: rgb(112, 216, 126);

}
nav details summary{
    color: rgb(248, 55, 29);
    /* font-weight: bold; */
}
h1{
        font-size: 60px;
    }
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
pre{
    background: hsl(78, 65%, 87%);
}
.hero{
    background: linear-gradient(to top, rgba(255,255,255,.3), transparent ), url(../images/patron.png);
    /* background-repeat: no-repeat; */
   /* background-position: left 75px bottom 75px; */
    height: 225px;
    /* width: 100%; */
}